/* * {
  border: 1px solid blue;
} */

* {
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
  margin-top: 150px;
  margin: 75px auto 0 auto;
  width: 1190px;
  background: #f5f8fa
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  height: 46px;
  border-bottom: 2px solid #c4c4c4;
  z-index: 10;
}

nav {
  display: flex;
  width: 1190px;
  margin: auto;
  height: 46px;
}

a {
  text-decoration: none;
  color: #1b95e0;
}
.popup {
  top:0;
  left:0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5)
}
.popup-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: white;
  width: 500px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.popup-content.max-height {
  height: 500px;
}

.scrollable {
  padding: 20px 15px;
  overflow: auto;
}

.x-button {
  color: white;
  font-size: 32px;
  position: absolute;
  right: -60px;
  top: -60px;
  cursor: pointer;
}

#login-form-header {
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid gray;
  width: 100%;
  margin-bottom: 45px;
}

#login-form {
  display: block;
  color: black;
}

#login-form input {
  width: 100%;
}

#login-button {
  background-color: #00aced;
  color: white;
  padding: 7px 20px;
  border-radius: 3px;
}

#login-button:hover {
  background-color: #0084b4;
}

button {
  border: none;
  background-color: #1b95e0;
  margin: 0;
  border-radius: 3px;
  color: white;
}

input  {
  height: 50px;
  margin: 15px 0;
}

#logout-form button {
  margin: 0;
}

.disable-link {
  pointer-events: none;
}

.container.nav {
  justify-content: space-between;
  align-items: center;
  height: 46px;
}

#right-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0;
}
#middle-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-nav {
  padding-left: 0;
  display: flex;
  align-items: center;
}
#left-nav ul {
  list-style: none;
}
#left-nav li {
  display: inline-block;
}

#left-nav li.left-nav-item {
  margin-right: 15px;
}
#left-nav li img {
  display: relative;
  top: 2px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#logo {
  display: flex;
  align-items: center;
  color: black;
}
#logout-form button {
  font-size:12px;
  font-weight: bold;
  padding: 0 25px;
  margin: 0;
  height: auto;
  /*text-transform: uppercase;*/
}

#logout-form button:hover {
  text-decoration: underline;
}

#login-form input {
  margin-right: 15px;
}

#landing-page-hero-section {
  display: flex;
  align-items: center
}


#sign-up-button, #login-form-button {
  padding: 15px 0 ;
  background-color: #00aced;
  width: 100%;
}

#login-form-button {
  margin: 45px 0;
}


#sign-up {
  display: flex;
}

#signup-form {
  display: flex;
  flex-direction: column;
  width: 50%
}

#signup-form form {
  display: flex;
  flex-direction: column;
}

#signup-form input, #login-form input{
  border: none;
  border-bottom: 2px solid #00aced;
  background-color: transparent;
  padding: 10px;
}

#signup-form input:focus, #login-form input:focus {
  background-color: white;
}

#signup-form input[type="file"] {
  border: 0px;
}

.form-errors {
  color: red;
  font-weight: bold;
}

.section-borders {
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  background-color: white;
}

.tweet-container {
  border-left: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;
  border-right: 1px solid #e6ecf0;
  padding: 10px;
  background: white;
}


.tweet-container:hover {
  background:inherit;
}

.tweet-container button {
  border: none;
  background: inherit;
  padding: 0;
  margin:0 15px;
  color: #aab8c2;
}

.tweet-container button.red {
  color: red;
}

.tweet-container button.green {
  color: green;
}


.tweet-info {
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
}

.hover-profile {
  position: absolute;
  bottom: 40px;
  background: white;
  visibility: hidden;
  transition: .4s
}

a.tweet-user-name:hover + div.hover-profile {
  bottom: 50px;
  visibility: visible;
}

.hover-profile-shadow {
  box-shadow: 10px 10px 5px #888888;
}

.tweet-text-name

.tweet-text {
  padding: 20px 0;
  font-size: 20px;
}

.tweet-extra-info {
  font-size: 15px;
  color: #a19c9c;
}

.tweet-extra-info:hover {
  color: #326ada;
  text-decoration: underline;
}

.tweet-user-name {
  font-size:  20px;
  font-weight: bold;
  color: #326ada;
}

.tweet-interaction {
  display: flex;
  justify-content: space-between;
}

.retweet-functionality, .like-functionality, .reply-functionality {
  display: flex;
  align-items: center;
}


.create-tweet-form-container {
  display: flex;
  align-items: center;
  background-color: #F4E5E5;
  height: 60px;
}

#create-tweet-form {
  display: flex;
  width: 100%;
  align-items: center;
}

#create-tweet-form input[name="tweet"] {
  height: 32px;
  font-size: 14px;
  padding: 8px 10px;
  border: 1px solid #D69999;
  border-radius: 3px;
  width: 100%;
}

#create-tweet-form button {
  margin: 0 15px;
  height: 32px;
  padding: 0 15px;

}

.profile-image {
  margin-right: 15px;
  overflow: hidden;
  border-radius: 3px;
  margin-left: 15px;
}

.profile-image.suggested-user {
  width: 48px;
  height: 48px;
}

.profile-image.create-tweet {
  width: 32px;
  height: 32px;
}

.suggested-user-photo {
  height: 48px;
  position: relative;
  left: -30%;
}

.side-profile-photo {
  height: 72px;
  position: relative;
  left: -35%;
}


.create-tweet-profile-image img {
  position: relative;
  left: -30%;
}
.create-tweet-form input {
  flex-grow: 1
}
.create-tweet-form button {
  margin-right: 0;
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="col-"] {
  float: left;
  padding: 7.5px;
}
.hashtag-link:hover {
  text-decoration: underline;
}

/* SIDE PROFILE SECTION CSS */
.no-top-padding {
  padding-top: 0;
}

.side-profile-user-background {
  overflow: hidden;
}
.side-profile-user-background img {
  overflow: hidden;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.side-profile-user-info {
  position: relative;
  display: flex;
}
.side-profile-photo-container {
  width: 72px;
  height: 72px;
  overflow: hidden;
  border: 3px solid white;
  position: relative;
  top: -30px;
  left: 10px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 20px;
}

.side-profile-general-details {
  display: flex;
  flex-direction: column;
}

.side-profile-user-full-name a {
  font-size: 18px;
  font-weight: bold;
  padding: 6px 0;
  color: black;
}

.side-profile-user-full-name a:hover {
  text-decoration: underline;
}

.side-profile-user-handle, .side-profile-user-handle * {
  padding-top: 3px;
  font-size: 13px;
  color: #657786;
}

.side-profile-user-handle a:hover {
  text-decoration: underline;
}



.side-profile-profile-stats {
  position: relative;
  top: -20px;
}

.side-profile-profile-stats ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;

}

.side-profile-profile-stats li {
  display: inline-block;
  padding: 0 20px 0 15px ;
}

.side-profile-profile-stats li span {
  display: block;
}

.side-profile-profile-stats li span:first-child {
  color: #657786;
  font-size: 10px;
}

.side-profile-profile-stats li a {
  color: #990000;
  font-size: 18px;
}

.suggested-users-container {
  overflow: hidden;
}

.suggested-user-container, .user-container {
  overflow: hidden;
  display: flex;
  margin: 15px;
  width: 300px;
  flex-shrink: 0;
  margin-bottom: 2px;
}


.suggested-user-name {
  color: #326ada;
}

.suggested-extra-info {
  color: #a19c9c;
}

.suggested-extra-info:hover {
  color: #326ada;
  text-decoration: underline;
}

.follow-button {
  color: #14171a;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  margin-top: 3px;
  margin-right: 9px;
  padding: 3px 11px 5px;
  background-color: #f5f8fa;
  background-image: linear-gradient(#fff,#f5f8fa);
  border: 1px solid #e6ecf0;
  border-radius: 4px;
}

.follow-button:hover {
  text-decoration: none;
  background-color: #e6ecf0;
  background-image: linear-gradient(#fff,#e6ecf0);
  border-color: #e6ecf0;
}

.unfollow-button {
  color: #14171a;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  margin-top: 3px;
  margin-right: 9px;
  padding: 3px 11px 5px;
  background-color: #00aced;
  /*background-image: linear-gradient(#fff,#f5f8fa);*/
  border: 1px solid #e6ecf0;
  border-radius: 4px;
}

.unfollow-button:hover {
  text-decoration: none;
  background-color: #0084b4;
  /*background-image: linear-gradient(#fff,#e6ecf0);*/
  border-color: #e6ecf0;
}

#trends {
  color: #66757f;
  font-size: 24px;
  font-weight: 300;
  line-height: 22px;
  padding-left: 10px;
}

.trending-container {
  margin-top: 7.5px;
}

.tag-container {
  display: block;
  padding: 1px 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.tag-container a {
  padding: 0;
  margin: 0;
}

.tag-container p {
  padding: 2px 5px;
  margin: 0;
  font-size: 14px;
  color: #657786;
}


.tag-container a:hover {
  color: #1DA1F2;
  text-decoration: underline;
}


#title {
  font-size: 48px;
  font-weight: bold;
  color: #657786;
}

















