/** {
  border: 1px solid blue;
}*/

body {
  margin-top: 150px;
  margin: 150px auto 0 auto;
  width: 1120px;
  background: #f5f8fa
}
nav {
  /*margin-top: 5px;*/
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #c4c4c4;
}

a {
  text-decoration: none;
  color: #1b95e0;
}

button {
  border: none;
  background: inherit;
  margin: 0;
}

input, button  {
  height: 50px;
  margin: 15px 0;
}

.container {
  display: flex;
  width: 1120px;
  margin: auto;
}

.container.nav {
  justify-content: space-between;
}

#logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: black;
}
#login-form {
  display: flex;
  color: black;
  align-items: center;
}
#logout-form button {
  font-size:12px;
  font-weight: bold;
  padding: 0 25px;
  /*text-transform: uppercase;*/
}

#logout-form button:hover {
  text-decoration: underline;
}

#login-form input {
  margin-right: 15px;
}

#sign-up {
  display: flex;
}

#mockup {
  display: flex;
  align-items: center;
  width: 50%;
}

#signup-form {
  display: flex;
  flex-direction: column;
  width: 50%
}

#signup-form form {
  display: flex;
  flex-direction: column;
}

.form-errors {
  color: red;
  font-weight: bold;
}

#middle-container {
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  padding: 0;
}

.tweet-container {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px;
  background: white;
}


.tweet-container:hover {
  background:inherit;
}

.tweet-container button {
  border: none;
  background: inherit;
  padding: 0;
  margin:0 15px;
}

.tweet-info {
  margin-bottom: 10px;
  padding: 5px;
}

.tweet-text {
  padding: 20px 0;
  font-size: 20px;
}

.tweet-extra-info {
  font-size: 15px;
}

#tweet-user-name {
  font-size:  20px;
  font-weight: bold;
  color: #55ACEE;
}

.tweet-interaction {
  display: flex;
  justify-content: space-around;
}

.create-tweet-form-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6ecf0;
}

#create-tweet-form {
  display: flex;
  flex-grow: 1;
}
.create-tweet-profile-image {
  margin-right: 15px;
}

.create-tweet-form input {
  flex-grow: 1
}
.create-tweet-form button {
  margin-right: 0;
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}
.hashtag-link:hover {
  text-decoration: underline;
}
