<div class="like-functionality">
  <form  class="like-form" action="<%="/tweets/#{@tweet.id}/like"%>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button class="liked-heart" type="submit">&#x2764;</button>
  </form>
  <a id="likes-count" href=""><%= @likes %></a>
</div>
