<form class="retweet-form" action="<%= "/tweets/#{tweet.id}/retweets" %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button class="retweeted-symbol" type="submit" >&#9851;</button>
  <a href=""><%= tweet.retweet_count %></a>
</form>