<div class="create-tweet-form-container section-borders">
  <div class="profile-image create-tweet"><img class="create-tweet-user-photo" src="<%= current_user.profile_image_location %>"" height="32px"></div>
  <form id="create-tweet-form" action="/tweets" method="POST">
    <input type="text" name="tweet" placeholder="What's happening?">
    <div class="form-errors"><%= "Tweets " + @errors[:tweet][0] if @errors && @errors[:tweet] %></div>
  </form>
</div>

<div class="create-tweet-form-container section-borders taller">
  <form id="create-tweet-form" class="taller" action="/tweets" method="POST">
    <div class="row-1">
      <div class="profile-image create-tweet"><img class="create-tweet-user-photo" src="<%= current_user.profile_image_location %>"" height="32px"></div>
      <textarea type="text" name="tweet" placeholder="What's happening?"></textarea>
      <div class="form-errors"><%= "Tweets " + @errors[:tweet][0] if @errors && @errors[:tweet] %></div>
    </div>
    <div class="row-2">
      <button class="create-tweet-button" type="submit">Post</button>
    </div>
  </form>
</div>
