<div id="left-nav" class="col-5">
  <li><img width="28px" src="/images/left_nav_icons/home_icon_gray.png"></li>
  <li class="left-nav-item">Home</li>

  <li><img width="28px" src="/images/left_nav_icons/lightning_icon_gray.png"></li>
  <li class="left-nav-item">Moments</li>

  <li><img width="28px" src="/images/left_nav_icons/notification_icon_gray.png"></li>
  <li class="left-nav-item">Notifications</li>

  <li><img width="28px" src="/images/left_nav_icons/message_icon_gray.png"></li>
  <li class="left-nav-item">Messages</li>
</div>

<div id="middle-nav" class="col-2">
  <a href="/"><img height="30px" src="/images/clutter.png" alt="Clutter Logo"></a>
</div>

<div id="right-nav" class="col-5">
  <div><%= "Welcome #{current_user.first_name} | @#{current_user.handle}" %></div>
  <form id="logout-form" action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>
</div>
