<form class="unfollow-form" action="<%="/#{user.handle}/follow"%>" method="POST" >
    <input type="hidden" name="_method" value="DELETE">
    <button class="unfollow-button" type="submit">Unfollow</button>
</form>