<div class="popup">
  <div class="popup-content max-height">
    <div class="x-button">X</div>
    <div class="scrollable">
      <% @users.each do |user| %>
      <div class="suggested-user-container">
        <% if current_user.user_followed?(user) %>
        <%= erb :'users/_display_unfollow_user', layout: false, locals: {user: user} %>
        <% else %>
        <%= erb :'users/_display_follow_user', layout: false, locals: {user: user} %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>

