<div id="left-nav" class="col-5"><img src="/images/clutter_name-01.png" height="30px"></div>
<div id="middle-nav" class="col-2">
  <a href="/"><img height="30px" src="/images/clutter_bird-01.png" alt="Clutter Logo"></a>
</div>
<div id="right-nav" class="col-5"><a id="login-button" href="/login">Log in</a></div>
