<!-- DO NOT REMOVE -->
<!-- user/index is the user's landing page -->
<!-- DO NOT REMOVE -->

<div class="col-12">
  <div class="col-3"><%= erb :'/users/_side_profile' %></div>
  <div class="col-6">
    <%= erb :'/tweets/new' %>
    <%= erb :'/tweets/show' %>
  </div>
  <div class="col-3"><%= erb :'/users/_suggested_users' %></div>
</div>
