<!-- DO NOT REMOVE -->
<!-- user/index is the user's landing page -->
<!-- DO NOT REMOVE -->

<div class="col-12">
  <div class="col-3 no-top-padding"><%= erb :'_side_profile' %></div>
  <div id="middle-container" class="col-6">
    <div class="create-tweet-form-container"><%= erb :'/tweets/new' %></div>
    <div class="tweets-container"><%= erb :'/tweets/show' %></div>
  </div>
  <div class="col-3"><%= erb :'/users/_suggested_users' %></div>
</div>
