<!-- DO NOT REMOVE -->
<!-- user/show is the user's profile page -->
<!-- DO NOT REMOVE -->


<div>
  <%= erb :'/users/_display_user_profile' %>
</div>
<div class="user-profile-tweets">
  <%= erb :'/tweets/index' %>
</div>
<div class="col-3">
</div>



