<form action="/tweets/#{tweet.id}/reply" method="POST">
  <input type="text" name="tweet[tweet]" placeholder="Write tweet here.">
  <input type="hidden" name="tweet[replied_to_id]" value="tweet.id">

</form>