<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Twitter Clone</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/application.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>
  </head>
  <body>
    <header>
      <nav>
      <% if current_user %>
      <%= erb :'users/_current_user_nav' %>
      <% else %>
      <%= erb :'users/_unknown_user_nav' %>
      <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
