
<div class="col-12">
  <div class="col-3 no-top-padding">
    <%= erb :'side_profile' %>
  </div>
  <div id="middle-container" class="col-6">
    <div class="create-tweet-form-container">
      <%= erb :'_errors' %>
      <%= erb :'_create_tweet' %>
    </div>
    <%= erb :'_tweets' %>
  </div>
  <div class="col-3">aside content here</div>
</div>
